@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* Header Styles Starts Here*/

.header-banner-container {
    background-color: #FFF8F3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, 23px;
    background-size: 700px, 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 226px;
}

.logo {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    color: #181818;
}

#logo-r {
    color: #FD6E0A;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 87px;
}

.nav-items>li {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #474747;
}

.nav-items>button {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    border: none;
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

/* Banner Styles Strats Here */
/* Banner Left Section */
.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 0px 0px 226px;
}

.banner-left {
    width: 50%;
}

.banner-left>h3 {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
}

.banner-left>h1 {
    color: #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
}

.banner-left>p {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0;
}

.banner-left-cv-btn {
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.banner-left-contact-btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
}

/* Banner Right Section */
.banner-right {
    width: 50%;
}

.banner-right>img {
    width: 584px;
    height: auto;
    display: block;
    margin: 0 0 0 auto;
}

/* About Section Styles Strats Here */

.about-container {
    padding: 0 226px;
}

.about-container-contents {
    background-color: #FFF8F3;
    display: block;
    margin: 130px auto 0 auto;
    border-radius: 10px;
    padding: 110px 80px;
}

.about-container-contents>h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.about-container-contents>p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 35px 0;
    text-align: center;
    line-height: 30px;
}

.about-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-info p {
    text-align: center;
    font-size: 20px;
}

.about-info>div>:first-child {
    color: #757575;
}

.about-info>div>:nth-child(2) {
    color: #474747;
    font-weight: 700;
}

/* What I Do Styles Starts Here */

.what-I-do-container {
    padding: 0 226px;
}

.what-I-do-contents {
    margin: 130px auto 0 auto;
}

.what-I-do-contents>h1 {
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.what-I-do-contents>p {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 35px 0;
}

.what-I-do-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.card-what-I-do {
    padding: 20px 20px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.card-what-I-do>h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0;
}

.card-what-I-do>p {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* Summary Section Styles Starts Here */

.summary-container {
    padding: 0 226px;
}

.summary-contents {
    margin-top: 130px;
}

.summary-contents>h1 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.summary-card-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
}

.summary-card-experience>h1,
.summary-card-education>h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    color: #474747;
}

.card-summary>:nth-child(1) {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-top: 20px;
}

.card-summary>:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-summary>:nth-child(3) {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.card-summary>:nth-child(4) {
    width: 100%;
    background-color: #D1D1D1;
    height: 1px;
    border: none;
    position: relative;
    bottom: 0;
}

#btn-summary-download {
    display: block;
    margin: auto;
    margin-top: 32px;
}

/* Contact Section Styles Starts Here */

.contact-container {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 226px;
}

.contact-contents {
    display: flex;
    gap: 117px;
}

.contact-left {
    width: 50%;
}

.contact-left>h1 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.contact-left>p {
    font-size: 16px;
    color: #474747;
    font-weight: 400;
    margin: 20px 0;
    line-height: 28px;
}

.social-icons>i {
    color: #FD6E0A;
    margin-right: 10px;
}

/* Contact Right Start Here */

.contact-right {
    width: 50%;
}

.contact-right>h1 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.contact-right>input {
    border-radius: 5px;
    border: none;
    padding: 18px 30px;
    display: block;
    margin-top: 28px;
    width: 100%;
}

.contact-right>:nth-child(4) {
    margin-top: 28px;
    border: none;
    border-radius: 5px;
    padding: 18px 30px;
    display: block;
    width: 100%;
}

.btn-contact-submit {
    width: 150px;
    border-radius: 5px;
    background-color: #FD6E0A;
    font-size: 18px;
    color: #FFF;
    font-weight: 700;
    border: none;
    padding: 18px 30px;
    margin-top: 28px;
}